.main-container{
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
}

.profile-container{
    width: 400px;
    border-radius: 15px;
    border: 1px solid #00E5A0;
}

.profile-top{
    padding: 1rem;
    display: flex;
    gap: 1rem;
    flex-direction: column;
}


.signOutButton{
    cursor: pointer;
    border: 1px solid #00E5A0;
    border-radius: 20px;
    padding: 1rem;
    font-size: 1rem;
    font-style: bold;
    color: #00E5A0;
}

.password button{
    cursor: pointer;
}

.c-change{
    font-style: bold;
    border: 1px solid #00E5A0;
    border-radius: 20px;
    padding: 0.5rem;
    color: #00E5A0;
}